<div class="col-md-8 text-search">
  <%= text_field_tag :content, params[:content],
    class: "form-control input-lg", placeholder: t(".enter_content_question")
  %>
  <i class="fa fa-search"></i>
</div>
<div class="button-tag">
  <%= submit_tag "" %>
</div>
