<h2>Hi <%= @user.name %>,</h2>
<div>
  <p>We would like to inform your achievement in the exam as below:</p>

  <p>=======================================</p>
  <p>Subject: <%= @exam.subject.name %></p>
  <p>Score: <%= @exam.score %></p>
  <p>=======================================</p>

  <p>Thanks for your training at Framgia VN</p>
</div>
